In [1]:
import requests
import pandas as pd
import numpy as np

from FPL import FPL

import warnings
warnings.filterwarnings("ignore")

# Setting up

In [2]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)
json = response.json()

In [3]:
df = FPL(json).getPlayerDF()

df = df.loc[df.value_season > 0]

df.head()

,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,form,position
4,Soares,Arsenal,2,0.3,42,739.0,28878,4.5,19,1.8,Defender
5,Lacazette,Arsenal,4,8.7,84,1446.0,1591758,9.4,79,4.3,Forward
6,Xhaka,Arsenal,3,0.3,48,1365.0,29529,6.5,31,1.8,Midfielder
12,Holding,Arsenal,2,0.6,41,428.0,71341,3.7,15,0.2,Defender
13,Partey,Arsenal,3,0.4,50,1863.0,83372,13.6,68,4.2,Midfielder

# Analyzing

In [ ]:
# Sorting by 
df.sort_values('value_season',ascending=False).head(10)

HERE AND DOWNWARDS SHOULD BE MADE INTO FUNCTIONS

In [ ]:
# Avg value per position
position_pivot = slim_elements_df.pivot_table(index='position',values='value',aggfunc=np.mean).reset_index()

position_pivot.sort_values('value',ascending=False)

In [ ]:
team_pivot = slim_elements_df.pivot_table(index='team',values='value',aggfunc=np.mean).reset_index()

team_pivot.sort_values('value',ascending=False)

In [ ]:
# Goalkeepers
goal_df = slim_elements_df.loc[slim_elements_df.position == 'Goalkeeper']

goal_df.sort_values('value',ascending=False).head(5)

In [ ]:
# Defenders
def_df = slim_elements_df.loc[slim_elements_df.position == 'Defender']

def_df.sort_values('value',ascending=False).head(10)

In [ ]:
# Midfielders
mid_df = slim_elements_df.loc[slim_elements_df.position == 'Midfielder']

mid_df.sort_values('value',ascending=False).head(10)

In [ ]:
# Forwards
fwd_df = slim_elements_df.loc[slim_elements_df.position == 'Forward']

fwd_df.sort_values('value',ascending=False).head(10)