In [1]:
import requests
import pandas as pd
import numpy as np

from FPL import FPL

import warnings
warnings.filterwarnings("ignore")

# Setting up

In [2]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)
json = response.json()

In [3]:
slim_elements_df = FPL(json).getSlimElementsDf()

slim_elements_df = slim_elements_df.loc[slim_elements_df.value_season > 0]

slim_elements_df.head()

,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,form,position
4,Soares,Arsenal,2,0.3,42,739.0,28878,4.5,19,1.8,Defender
5,Lacazette,Arsenal,4,8.7,84,1446.0,1591758,9.4,79,4.3,Forward
6,Xhaka,Arsenal,3,0.3,48,1365.0,29529,6.5,31,1.8,Midfielder
12,Holding,Arsenal,2,0.6,41,428.0,71341,3.7,15,0.2,Defender
13,Partey,Arsenal,3,0.4,50,1863.0,83372,13.6,68,4.2,Midfielder

# Analyzing

In [8]:
# Sorting by 
slim_elements_df.sort_values('value_season',ascending=False).head(10)

,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,form,position
679,Coady,Wolves,2,18.1,49,2686.0,2028850,25.1,123,3.9,Defender
700,Malheiro de SÃ¡,Wolves,1,12.4,53,2700.0,1663521,24.7,131,3.3,Goalkeeper
406,Cancelo,Man City,2,36.5,69,2417.0,4963059,23.5,162,5.2,Defender
364,Matip,Liverpool,2,3.8,49,2070.0,861255,23.1,113,6.6,Defender
371,Ramses Becker,Liverpool,1,8.0,60,2430.0,817776,23.0,138,7.0,Goalkeeper
32,Ramsdale,Arsenal,1,21.4,51,2160.0,2785003,22.9,117,2.7,Goalkeeper
658,Bowen,West Ham,3,12.2,68,2361.0,3899141,22.5,153,1.0,Midfielder
56,Cash,Aston Villa,2,9.7,53,2477.0,1312522,22.3,118,8.2,Defender
432,de Gea,Man Utd,1,10.5,51,2610.0,1834522,22.2,113,2.8,Goalkeeper
689,Kilman,Wolves,2,4.2,46,2508.0,554723,22.2,102,2.0,Defender

HERE AND DOWNWARDS SHOULD BE MADE INTO FUNCTIONS

In [ ]:
# Avg value per position
position_pivot = slim_elements_df.pivot_table(index='position',values='value',aggfunc=np.mean).reset_index()

position_pivot.sort_values('value',ascending=False)

In [ ]:
team_pivot = slim_elements_df.pivot_table(index='team',values='value',aggfunc=np.mean).reset_index()

team_pivot.sort_values('value',ascending=False)

In [ ]:
# Goalkeepers
goal_df = slim_elements_df.loc[slim_elements_df.position == 'Goalkeeper']

goal_df.sort_values('value',ascending=False).head(5)

In [ ]:
# Defenders
def_df = slim_elements_df.loc[slim_elements_df.position == 'Defender']

def_df.sort_values('value',ascending=False).head(10)

In [ ]:
# Midfielders
mid_df = slim_elements_df.loc[slim_elements_df.position == 'Midfielder']

mid_df.sort_values('value',ascending=False).head(10)

In [ ]:
# Forwards
fwd_df = slim_elements_df.loc[slim_elements_df.position == 'Forward']

fwd_df.sort_values('value',ascending=False).head(10)