In [10]:
import requests

from FPL import FPL

import warnings
warnings.filterwarnings("ignore")

# Setting up

In [11]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)
json = response.json()
df = FPL(json).getPlayerDf()

stat = 'value_season'

# Analyzing

In [12]:
# Sorting by
df.sort_values(stat, ascending=False).head(10)

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form
679,Coady,Wolves,Defender,49,2686.0,25.1,123,3.9
700,Malheiro de Sá,Wolves,Goalkeeper,53,2700.0,24.7,131,3.3
406,Cancelo,Man City,Defender,69,2417.0,23.5,162,5.2
364,Matip,Liverpool,Defender,49,2070.0,23.1,113,6.6
371,Ramses Becker,Liverpool,Goalkeeper,60,2430.0,23.0,138,7.0
32,Ramsdale,Arsenal,Goalkeeper,51,2160.0,22.9,117,2.7
25,White,Arsenal,Defender,45,2340.0,22.9,103,3.3
56,Cash,Aston Villa,Defender,53,2567.0,22.6,120,8.5
658,Bowen,West Ham,Midfielder,68,2361.0,22.5,153,1.0
432,de Gea,Man Utd,Goalkeeper,51,2610.0,22.2,113,2.8

In [13]:
# Avg value per position
position_pivot = FPL(json).createPivot('element_type', stat)

position_pivot.head()

  element_type  value_season
2   Goalkeeper     15.000000
0     Defender     11.891803
3   Midfielder      9.659763
1      Forward      8.650000

In [14]:
# Avg per team
team_pivot = FPL(json).createPivot('team', stat)

team_pivot.head()

              team  value_season
11        Man City     14.700000
0          Arsenal     12.823529
19          Wolves     12.390000
6   Crystal Palace     12.033333
5          Chelsea     11.890000

In [15]:
# Goalkeepers
goal_df = FPL(json).dfPerPosition('Goalkeeper', stat)

goal_df.head()

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form
700,Malheiro de Sá,Wolves,Goalkeeper,53,2700.0,24.7,131,3.3
371,Ramses Becker,Liverpool,Goalkeeper,60,2430.0,23.0,138,7.0
32,Ramsdale,Arsenal,Goalkeeper,51,2160.0,22.9,117,2.7
432,de Gea,Man Utd,Goalkeeper,51,2610.0,22.2,113,2.8
563,Lloris,Spurs,Goalkeeper,54,2520.0,20.7,112,3.3

In [16]:
# Defenders
def_df = FPL(json).dfPerPosition('Defender', stat)

def_df.head(10)

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form
679,Coady,Wolves,Defender,49,2686.0,25.1,123,3.9
406,Cancelo,Man City,Defender,69,2417.0,23.5,162,5.2
364,Matip,Liverpool,Defender,49,2070.0,23.1,113,6.6
25,White,Arsenal,Defender,45,2340.0,22.9,103,3.3
56,Cash,Aston Villa,Defender,53,2567.0,22.6,120,8.5
689,Kilman,Wolves,Defender,46,2508.0,22.2,102,2.0
369,van Dijk,Liverpool,Defender,68,2430.0,22.1,150,6.8
20,Magalhães,Arsenal,Defender,53,2196.0,22.1,117,3.2
377,Alexander-Arnold,Liverpool,Defender,85,2313.0,22.0,187,6.2
409,Laporte,Man City,Defender,58,2082.0,21.2,123,4.0

In [17]:
# Midfielders
mid_df = FPL(json).dfPerPosition('Midfielder', stat)

mid_df.head(10)

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form
658,Bowen,West Ham,Midfielder,68,2361.0,22.5,153,1.0
19,Saka,Arsenal,Midfielder,67,2135.0,20.6,138,6.5
220,Gallagher,Crystal Palace,Midfielder,61,2199.0,20.2,123,3.6
63,Ramsey,Aston Villa,Midfielder,48,1928.0,19.8,95,3.7
18,Smith Rowe,Arsenal,Midfielder,57,1498.0,18.9,108,2.7
411,Veiga de Carvalho e Silva,Man City,Midfielder,71,2407.0,18.5,131,4.2
362,Henderson,Liverpool,Midfielder,50,2000.0,18.0,90,3.8
31,Ødegaard,Arsenal,Midfielder,55,1882.0,17.8,98,3.3
657,Benrahma,West Ham,Midfielder,59,1701.0,17.8,105,2.8
573,Højbjerg,Spurs,Midfielder,49,2296.0,17.3,85,2.4

In [18]:
# Forwards
fwd_df = FPL(json).dfPerPosition('Forward', stat)

fwd_df.head(10)

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form
626,Dennis,Watford,Forward,60,2174.0,19.2,115,3.2
499,Pukki,Norwich,Forward,58,2445.0,17.9,104,4.6
84,Toney,Brentford,Forward,67,2098.0,16.0,107,6.0
651,Antonio,West Ham,Forward,75,2431.0,15.1,113,1.8
552,Broja,Southampton,Forward,55,1510.0,14.7,81,1.8
128,Maupay,Brighton,Forward,65,2042.0,14.5,94,1.4
629,King,Watford,Forward,57,1966.0,13.9,79,1.2
481,Saint-Maximin,Newcastle,Forward,68,2042.0,13.8,94,0.5
542,Adams,Southampton,Forward,69,1645.0,13.3,92,4.0
249,Edouard,Crystal Palace,Forward,62,1263.0,13.1,81,0.2