In [1]:
import requests
import pandas as pd
import numpy as np

from FPL import FPL

import warnings
warnings.filterwarnings("ignore")

# Setting up

In [2]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
response = requests.get(url)
json = response.json()
df = FPL(json).getPlayerDf()

# Analyzing

In [3]:
# Sorting by 
df.sort_values('value_season',ascending=False).head(10)

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form,position
679,Coady,Wolves,2,49,2686.0,25.1,123,3.9,Defender
700,Malheiro de S치,Wolves,1,53,2700.0,24.7,131,3.3,Goalkeeper
406,Cancelo,Man City,2,69,2417.0,23.5,162,5.2,Defender
364,Matip,Liverpool,2,49,2070.0,23.1,113,6.6,Defender
371,Ramses Becker,Liverpool,1,60,2430.0,23.0,138,7.0,Goalkeeper
32,Ramsdale,Arsenal,1,51,2160.0,22.9,117,2.7,Goalkeeper
25,White,Arsenal,2,45,2340.0,22.9,103,3.3,Defender
56,Cash,Aston Villa,2,53,2567.0,22.6,120,8.5,Defender
658,Bowen,West Ham,3,68,2361.0,22.5,153,1.0,Midfielder
432,de Gea,Man Utd,1,51,2610.0,22.2,113,2.8,Goalkeeper

In [4]:
# Avg value per position
position_pivot = FPL(json).createPivot('position', 'value_season')

position_pivot.head()

     position  value_season
2  Goalkeeper     15.000000
0    Defender     11.891803
3  Midfielder      9.659763
1     Forward      8.650000

In [5]:
# Avg per team
team_pivot = FPL(json).createPivot('team', 'value_season')

team_pivot.head()

              team  value_season
11        Man City     14.700000
0          Arsenal     12.823529
19          Wolves     12.390000
6   Crystal Palace     12.033333
5          Chelsea     11.890000

In [6]:
# Goalkeepers
goal_df = FPL(json).dfPerPosition('Goalkeeper', 'value_season')

goal_df.head()

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form,position
700,Malheiro de S치,Wolves,1,53,2700.0,24.7,131,3.3,Goalkeeper
371,Ramses Becker,Liverpool,1,60,2430.0,23.0,138,7.0,Goalkeeper
32,Ramsdale,Arsenal,1,51,2160.0,22.9,117,2.7,Goalkeeper
432,de Gea,Man Utd,1,51,2610.0,22.2,113,2.8,Goalkeeper
563,Lloris,Spurs,1,54,2520.0,20.7,112,3.3,Goalkeeper

In [7]:
# Defenders
def_df = FPL(json).dfPerPosition('Defender', 'value_season')

def_df.head()

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form,position
679,Coady,Wolves,2,49,2686.0,25.1,123,3.9,Defender
406,Cancelo,Man City,2,69,2417.0,23.5,162,5.2,Defender
364,Matip,Liverpool,2,49,2070.0,23.1,113,6.6,Defender
25,White,Arsenal,2,45,2340.0,22.9,103,3.3,Defender
56,Cash,Aston Villa,2,53,2567.0,22.6,120,8.5,Defender

In [8]:
# Midfielders
mid_df = FPL(json).dfPerPosition('Midfielder', 'value_season')

mid_df.head()

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form,position
658,Bowen,West Ham,3,68,2361.0,22.5,153,1.0,Midfielder
19,Saka,Arsenal,3,67,2135.0,20.6,138,6.5,Midfielder
220,Gallagher,Crystal Palace,3,61,2199.0,20.2,123,3.6,Midfielder
63,Ramsey,Aston Villa,3,48,1928.0,19.8,95,3.7,Midfielder
18,Smith Rowe,Arsenal,3,57,1498.0,18.9,108,2.7,Midfielder

In [9]:
# Forwards
fwd_df = FPL(json).dfPerPosition('Forward', 'value_season')

fwd_df.head()

,second_name,team,element_type,now_cost,minutes,value_season,total_points,form,position
626,Dennis,Watford,4,60,2174.0,19.2,115,3.2,Forward
499,Pukki,Norwich,4,58,2445.0,17.9,104,4.6,Forward
84,Toney,Brentford,4,67,2098.0,16.0,107,6.0,Forward
651,Antonio,West Ham,4,75,2431.0,15.1,113,1.8,Forward
552,Broja,Southampton,4,55,1510.0,14.7,81,1.8,Forward